.background    { background: rgb(51,51,51);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: rgb(89, 78, 66);   }

.actor  { position: absolute;  }
.coin   { background: rgb(255,237, 0); }
.player { background: white; }
.car   {background: red; }


.goal   {background: grey; }
.goalS  {background: grey; }
.goalF  {background: grey; }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -5px 8px yellow, 4px -7px 8px yellow;
}
.secretwon .player {
  box-shadow: -4px -5px 8px purple, 4px -7px 8px purple;
}
.finalwon .player {
  box-shadow: -4px -5px 8px yellow, 4px -7px 8px yellow;
}
